@import "app";

#error_explanation {
  ul {
    color: red;
    padding-left: 30px;
  }

  h2 {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
    padding: 8px 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 15px 0 10px;
    font-size: 1.6rem;
    font-weight: lighter;
  }
}

.devise-user-page-common-container {
  position: absolute;
  top: 255px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  width: 555px;
  margin: auto;

  color: #666;

  h2 {
    font-size: 1.8rem;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    @include editbox();
    margin: 20px 0;
  }

  input[type=submit] {
    font-size: 1.6rem;
    padding: 3px 8px;
    @include primary-btn();
  }

  p {
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin: 25px 0 5px 0;
  }

  a {
    display: inline-block;
    color: #337ab7;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 15px;
  }

  .checkbox {
    margin-top: 10px;

    input[type=checkbox] {
      margin-left: 0;
    }
  }
}