@charset "UTF-8";
@import url("reset.css");

html {
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

@mixin primary-btn {
  padding: 0;
  background-color: lightseagreen;
  border-color: transparent;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  letter-spacing: 1px;

  &:disabled {
    background-color: #cccccc; 
  }
}

@mixin date {
  padding: 4px;
  letter-spacing: 1px;
  font-weight: bold;
}

// header
.header {
  width: 100%;
  height: 45px;
  box-shadow: 0 0 10px 1px #e3e3e3;

  .global-nav-container {
    max-width: 1200px;
    margin: auto;

    .nav-left {
      float: left;
  
      .nav-item {
        display: inline-block;
      }
    
      .nav-item a {
        display: inline-block;
        width: 100px;
        height: 45px;
        text-align: center;
        border-radius: 8px;
        color: #666;
        font-size: 1.6rem;
        line-height: 45px;
        letter-spacing: 1px;
        text-decoration: none;
      }
    }

    .nav-right {
      float: right;

      #new-post-btn {
        width: 70px;
        height: 31px;
        font-size: 1.6rem;
        line-height: 27px;
        margin: 7px 0;        
        @include primary-btn();
      }
    }
  }
}

// NewPostModal
.new-post-modal-content {
  width: 660px;

  .new-post-header {
    width: 100%;
    height: 30px;
    text-align: center;

    h1 {
      font-size: 1.8rem;
      line-height: 30px;
      display: inline-block;
    }

    span {
      float: right;
      font-size: 2.8rem;
      line-height: 30px;
      padding: 0 5px 0;
      font-weight: bold;
      color: #666;
      cursor: pointer;
    }
  }

  .new-post-form {
    input[type=text], textarea {
      width: 100%;
      display: block;
      margin: 10px 0;
      padding: 10px;
      outline: none;
      border: 0.5px solid lightgrey;
      border-radius: 0;
    }

    input[type=text]:focus, textarea:focus {
      box-shadow: 0 0 8px #3663B3 inset;
    }

    textarea {
      height: 180px;
    }
  }

  .new-post-toolbar {
    width: 100%;
    height: 30px;

    #new-post-submit-btn {
      float: right;
      width: 80px;
      height: 100%;
      font-size: 1.6rem;
      line-height: 26px;
      @include primary-btn();
    }
  }
}

// postsContainer
.postsContainer {
  width: 700px;
  margin: auto;
}

// post
.post {
  position: relative;
  display: block;
  width: 700px;
  height: 180px;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 6px 6px 8px -4px rgba(0, 0, 0, 0.15);

  .title {
    color: #555;
    font-size: 1.8rem;
    line-height: 1.6;
    text-decoration: none;
    max-height: 56px;
    display: inline-block;
  }

  .body {
    color: #333;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin-top: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
  }

  .post-content {
    overflow: hidden;
    height: 130px;
  }

  .clamp {
    font-size: 1.4rem;
  }

  .date {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 140px;
    font-size: 1.1rem;
    text-align: center;
    display: block;
    @include date();
  }
}

// post-detail
.post-detail {
  width: 700px;
  margin: auto;

  .title {
    color: #555;
    font-size: 2.4rem;
    text-decoration: none;
    margin: 20px 0;
  }

  .body {
    color: #333;
    font-size: 2.0rem;
    margin: 25px 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .date {
    font-size: 1.2rem;
    float: right;
    @include date();
  }

}